all: 
  hosts: 
    %{~ for name, ip in all_hosts ~}
    ${name}:
      ansible_host: ${ip}
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in all_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
bastion: 
  hosts: 
    %{~ for name, ip in bastion_hosts ~}
    ${name}:
      ansible_host: ${ip}
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in bastion_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
netmaker: 
  hosts: 
    %{~ for name, ip in netmaker_hosts ~}
    ${name}:
      ansible_host: ${ip}
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in netmaker_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}