apiVersion: "secretgenerator.mittwald.de/v1alpha1"
kind: "StringSecret"
metadata:
  name: "masterkey"
  namespace: "{{ zitadel_namespace }}"
spec:
  forceRegenerate: false
  fields:
    - fieldName: "masterkey"
      encoding: "hex"
      length: "32"
---
