apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ${ARGOCD_ENV_utils_capi_app_name}-post-config
  namespace: ${ARGOCD_ENV_utils_capi_app_namespace}
  annotations:
    argocd.argoproj.io/sync-wave: ${ARGOCD_ENV_utils_capi_post_sync_wave}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 20
      backoff:
        duration: 10s
        maxDuration: 3m0s
        factor: 2
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: ${ARGOCD_ENV_utils_capi_namespace}
  source:
    repoURL: ${ARGOCD_ENV_argocd_repo_url}
    targetRevision: ${ARGOCD_ENV_utils_application_gitrepo_tag}
    path: gitops/applications/overlays/cloud_provider/${ARGOCD_ENV_utils_capi_cloud_provider}/block-storage-provider/capi-post-config
    plugin:
      name: envsubst
      env:
        - name: "capi_cluster_namespace"
          value: "${ARGOCD_ENV_utils_capi_capi_cluster_namespace}"

        - name: "capi_cluster_name"
          value: "${ARGOCD_ENV_utils_capi_capi_cluster_name}"      