apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ${ARGOCD_ENV_nexus_argocd_app_name}-post-config
  namespace: ${ARGOCD_ENV_nexus_app_namespace}
  annotations:
    argocd.argoproj.io/sync-wave: ${ARGOCD_ENV_nexus_post_config_sync_wave}

  finalizers:
    - resources-finalizer.argocd.argoproj.io

spec:
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 20
      backoff:
        duration: 10s
        maxDuration: 3m0s
        factor: 2
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: ${ARGOCD_ENV_nexus_app_namespace}

  source:
    repoURL: ${ARGOCD_ENV_argocd_repo_url}
    targetRevision: ${ARGOCD_ENV_nexus_application_gitrepo_tag}
    path: gitops/applications/base/nexus-post-config
    plugin:
      name: envsubst
      env:
        - name: "nexus_namespace"
          value: "${ARGOCD_ENV_nexus_nexus_namespace}"

        - name: "nexus_post_config_app_name"
          value: "${ARGOCD_ENV_nexus_post_config_app_name}"

        - name: "nexus_ansible_collections_tag"
          value: ${ARGOCD_ENV_nexus_post_config_ansible_collections_tag}

        - name: "nexus_ansible_repo_url"
          value: ${ARGOCD_ENV_ansible_gitrepo_url}