configuration: |-
    {
      "Stuns": [
        {
          "Proto": "udp",
          "URI": "stun:netbird.{{ dns_public_subdomain }}:{{ stunner_nodeport_port }}",
          "Username": "",
          "Password": ""
        }
      ],
      "TURNConfig": {
        "TimeBasedCredentials": false,
        "CredentialsTTL": "12h0m0s",
        "Secret": "secret",
        "Turns": [
          {
            "Proto": "udp",
            "URI": "turn:netbird.{{ dns_public_subdomain }}:{{ stunner_nodeport_port }}",
            "Username": "ref+k8s://v1/Secret/{{ stunner_impl_namespace }}/{{ stunner_auth_secret }}/username+",
            "Password": "ref+k8s://v1/Secret/{{ stunner_impl_namespace }}/{{ stunner_auth_secret }}/password+"
          }
        ]
      },
      "Signal": {
        "Proto": "https",
        "URI": "netbird.{{ dns_public_subdomain }}:443",
        "Username": "",
        "Password": ""
      },
      "HttpConfig": {
        "AuthIssuer": "https://zitadel.{{ dns_public_subdomain }}",
        "AuthAudience": "ref+k8s://v1/Secret/netbird/{{ netbird_preconfig_secret }}/netbird_dashboard_client_id+",
        "OIDCConfigEndpoint": "https://zitadel.{{ dns_public_subdomain }}/.well-known/openid-configuration",
        "LetsEncryptDomain": "",
        "CertFile": "",
        "CertKey": "",
        "AuthUserIDClaim": "",
        "IdpSignKeyRefreshEnabled": true
      },
      "IdpManagerConfig": {
        "ManagerType": "zitadel",
        "ClientConfig": {
          "Issuer": "https://zitadel.{{ dns_public_subdomain }}",
          "TokenEndpoint": "https://zitadel.{{ dns_public_subdomain }}/oauth/v2/token",
          "ClientID": "ref+k8s://v1/Secret/netbird/{{ netbird_preconfig_secret }}/netbird_service_user_client_id+",
          "ClientSecret": "ref+k8s://v1/Secret/netbird/{{ netbird_preconfig_secret }}/netbird_service_user_client_secret+",
          "GrantType": "client_credentials"
        },
        "ExtraConfig": {
            "ManagementEndpoint": "https://zitadel.{{ dns_public_subdomain }}/management/v1"
        }
      },
      "DeviceAuthorizationFlow": {
        "Provider": "hosted",
        "ProviderConfig": {
          "ClientID": "ref+k8s://v1/Secret/netbird/{{ netbird_preconfig_secret }}/netbird_cli_client_id+",
          "ClientSecret": "",
          "Audience": "ref+k8s://v1/Secret/netbird/{{ netbird_preconfig_secret }}/netbird_cli_client_id+",
          "AuthorizationEndpoint": "",
          "Scope": "openid",
          "UseIDToken": false,
          "RedirectURLs": null
        }
      },
      "PKCEAuthorizationFlow": {
        "ProviderConfig": {
          "ClientID": "ref+k8s://v1/Secret/netbird/{{ netbird_preconfig_secret }}/netbird_cli_client_id+",
          "ClientSecret": "",
          "Domain": "",
          "Audience": "ref+k8s://v1/Secret/netbird/{{ netbird_preconfig_secret }}/netbird_cli_client_id+",
          "DeviceAuthEndpoint": "",
          "Scope": "openid profile email offline_access api",
          "UseIDToken": false,
          "RedirectURLs": ["http://localhost:53000/","http://localhost:54000/"]
        }
      },
      "StoreConfig": {
        "Engine": "sqlite"
      },
      "ReverseProxy": {
        "TrustedHTTPProxies": null,
        "TrustedHTTPProxiesCount": 0,
        "TrustedPeers": null
      }
    }

management:
  image:
    tag: {{ netbird_image_version }}
  ingress:
    enabled: false
  ingressGrpc:
    enabled: false
  persistentVolume:
    enabled: true
    size: 5Gi

  podCommand:
    xtraArgs:
      - --single-account-mode-domain={{ dns_public_subdomain }}
signal:
  image:
    tag: {{ netbird_image_version }}
  ingress:
    enabled: false
