apiVersion: "secretgenerator.mittwald.de/v1alpha1"
kind: "StringSecret"
metadata:
  name: "{{ netbird_management_turn_secret }}"
  namespace: "{{ netbird_namespace }}"
spec:
  forceRegenerate: false
  fields:
    - fieldName: "turn_server_password"
      encoding: "hex"
      length: "32"
---