all: 
  hosts: 
    %{~ for name, ip in all_hosts ~}
    ${name}:
      ansible_host: ${ip}
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in all_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
master: 
  hosts: 
    %{~ for name, ip in master_hosts ~}
    ${name}:
      ansible_host: ${ip}
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in master_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
    %{~ for varmapkey, varmapval in master_hosts_yaml_maps ~}
    ${varmapkey}:
      ${indent(6, varmapval)}
    %{~ endfor ~}
agent: 
  hosts: 
    %{~ for name, ip in agent_hosts ~}
    ${name}:
      ansible_host: ${ip}
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in agent_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
    %{~ for varmapkey, varmapval in agent_hosts_yaml_maps ~}
    ${varmapkey}:
      ${indent(6, varmapval)}
    %{~ endfor ~}
bastion: 
  hosts: 
    %{~ for name, ip in bastion_hosts ~}
    ${name}:
      ansible_host: ${ip}
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in bastion_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
    %{~ for varmapkey, varmapval in bastion_hosts_yaml_maps ~}
    ${varmapkey}:
      ${indent(6, varmapval)}
    %{~ endfor ~}
    ${indent(4, bastion_hosts_yaml_fragments)}