apiVersion: ansible.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  name: ${ARGOCD_ENV_nexus_post_config_app_name}
  namespace: ${ARGOCD_ENV_nexus_namespace}
spec:
  credentials: []
  requirements: |
    ---
    collections:
      - name: ${ARGOCD_ENV_nexus_ansible_repo_url}
        type: git
        version: ${ARGOCD_ENV_nexus_ansible_collections_tag}