bulk_enabled: false
third_party_enabled: false
mcm_chart_version: 1.1.0
mojaloop_chart_version: 16.0.0
ttk_testcases_tag: 16.1.0
ttk_test_currency1: ${currency}
ttk_test_currency2: USD
ttk_test_currency3: CAD
mcm_ingress_internal_lb: false
mojaloop_ingress_internal_lb: true
finance_portal_ingress_internal_lb: true
onboarding_collection_tag: 16.1.0
grafana_dashboard_tag: v16.3.0-snapshot.21 # TODO: update once v16.1.x is published
enable_istio_injection: true
central_ledger_handler_transfer_position_batch_processing_enabled: false
central_ledger_handler_transfer_position_batch_size: 100
central_ledger_handler_transfer_position_batch_consume_timeout_ms: 10
central_ledger_cache_enabled: true
central_ledger_cache_expires_in_ms: 1000
central_ledger_monitoring_prefix: "moja_cl_"
quoting_service_monitoring_prefix: "moja_qs_"
ml_api_adapter_monitoring_prefix: "moja_ml_"
account_lookup_service_monitoring_prefix: "moja_als_"
ttk_gp_testcase_labels: "p2p"
jws_rotation_period_hours: 672
jws_rotation_renew_before_hours: 1
fspiop_use_ory_for_auth: true
mojaloop_tolerations:
  - key: "moja-enabled"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"
workload_definitions:
  core_api_adapters:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/CORE-API-ADAPTERS
                  operator: In
                  values:
                    - "enabled"
  central_ledger_service:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/CENTRAL-LEDGER-SVC
                  operator: In
                  values:
                    - "enabled"
  core_handlers:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/CORE-HANDLERS
                  operator: In
                  values:
                    - "enabled"
  als_oracles:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/ALS-ORACLES
                  operator: In
                  values:
                    - "enabled"
  account_lookup_service:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/ACCOUNT-LOOKUP-SERVICE
                  operator: In
                  values:
                    - "enabled"
  quoting_service:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/QUOTING-SERVICE
                  operator: In
                  values:
                    - "enabled"
  central_settlement:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/CENTRAL-SETTLEMENT
                  operator: In
                  values:
                    - "enabled"
