domain: ${replace(env,"/pm$/","")}.${domain}
pm4ml_enabled: true
pm4ml_chart_version: 10.1.0
pm4ml_ingress_internal_lb: false
pm4ml_external_switch_oidc_token_route: realms/dfsps/protocol/openid-connect/token
pm4ml_external_switch_client_secret_vault_path: "mcmdev_client_secret"
pm4ml_ttk_enabled: true
ttk_testcases_tag: v16.1.0
auto_accept_party: false
enable_sdk_bulk_transaction_support: false
opentelemetry_enabled: false
opentelemetry_namespace_filtering_enable: false
## core_connector_selected can be one of the following values: "ttk", "cc", "custom"
core_connector_selected: ttk
## custom_core_connector_endpoint is only required if core_connector_selected is set to "custom"
custom_core_connector_endpoint: pm4mltest-mojaloop-core-connector:3003
pm4ml_reserve_notification: false
currency: ${currency}
fxp_id: "fxp"
core_connector_config: {}
payment_token_adapter_config: {}
