bulk_enabled: false
third_party_enabled: false
mcm_chart_version: 0.7.6
mojaloop_chart_version: 16.0.0-17361.fb393ac
mcm_ingress_internal_lb: false
mojaloop_ingress_internal_lb: true
#replica counts
account_lookup_service_replica_count: 1
account_lookup_service_admin_replica_count: 1
quoting_service_replica_count: 1
quoting_service_handler_replica_count: 1
ml_api_adapter_service_replica_count: 1
ml_api_adapter_handler_notifications_replica_count: 1
central_ledger_service_replica_count: 1
central_ledger_handler_transfer_prepare_replica_count: 1
central_ledger_handler_transfer_position_replica_count: 1
central_ledger_handler_transfer_position_batch_replica_count: 1
central_ledger_handler_transfer_get_replica_count: 1
central_ledger_handler_transfer_fulfil_replica_count: 1
central_ledger_handler_admin_transfer_replica_count: 1
central_settlement_service_replica_count: 1
central_settlement_handler_deferredsettlement_replica_count: 1
central_settlement_handler_grosssettlement_replica_count: 1
central_settlement_handler_rules_replica_count: 1
trasaction_requests_service_replica_count: 1
auth_service_replica_count: 1
consent_oracle_replica_count: 1
tp_api_svc_replica_count: 1
bulk_api-adapter_service_replica_count: 1
bulk_api_adapter_handler_notification_replica_count: 1
cl_handler_bulk_transfer_prepare_replica_count: 1
cl_handler_bulk_transfer_fulfil_replica_count: 1
cl_handler_bulk_transfer_processing_replica_count: 1
cl_handler_bulk_transfer_get_replica_count: 1
onboarding_collection_tag: 15.2.0
grafana_dashboard_tag: 15.2.0
enable_istio_injection: true
central_ledger_handler_transfer_position_batch_processing_enabled: false
central_ledger_handler_transfer_position_batch_size: 100
central_ledger_handler_transfer_position_batch_consume_timeout_ms: 10
central_ledger_cache_enabled: true
central_ledger_cache_expires_in_ms: 1000
central_ledger_monitoring_prefix: "moja_cl_"
quoting_service_monitoring_prefix: "moja_qs_"
ml_api_adapter_monitoring_prefix: "moja_ml_"
account_lookup_service_monitoring_prefix: "moja_als_"
ttk_gp_testcase_labels: "p2p"
workload_definitions:
  core_api_adapters:
    toleration_definition:
      - key: "key1"
        operator: "Equal"
        value: "value1"
        effect: "NoSchedule"
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/CORE-API-ADAPTERS
                  operator: In
                  values:
                    - "enabled"
  central_ledger_service:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/CENTRAL-LEDGER-SVC
                  operator: In
                  values:
                    - "enabled"
  core_handlers:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/CORE-HANDLERS
                  operator: In
                  values:
                    - "enabled"
  als_oracles:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/ALS-ORACLES
                  operator: In
                  values:
                    - "enabled"
  account_lookup_service:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/ACCOUNT-LOOKUP-SERVICE
                  operator: In
                  values:
                    - "enabled"
  quoting_service:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/QUOTING-SERVICE
                  operator: In
                  values:
                    - "enabled"
  central_settlement:
    affinity_definition:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: workload-class.mojaloop.io/CENTRAL-SETTLEMENT
                  operator: In
                  values:
                    - "enabled"
