apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - volumes-storageclass.yaml
  - ceph-cluster-crs.yaml

helmCharts:
  - name: aws-ebs-csi-driver
    releaseName: aws-ebs-csi-driver
    repo: https://kubernetes-sigs.github.io/aws-ebs-csi-driver
    namespace: kube-system
    valuesFile: aws-ebs-csi-driver-values.yaml
    version: ${ARGOCD_ENV_aws_ebs_csi_driver_helm_version}