all: 
  hosts: 
    %{~ for host in all_hosts ~}
    ${host}:
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in all_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
master: 
  hosts: 
    %{~ for host in master_hosts ~}
    ${host}:
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in master_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
    %{~ for varmapkey, varmapval in master_hosts_yaml_maps ~}
    ${varmapkey}:
      ${indent(6, varmapval)}
    %{~ endfor ~}
agent: 
  hosts: 
    %{~ for host in agent_hosts ~}
    ${host}:
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in agent_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
    %{~ for varmapkey, varmapval in agent_hosts_yaml_maps ~}
    ${varmapkey}:
      ${indent(6, varmapval)}
    %{~ endfor ~}
bastion: 
  hosts: 
    %{~ for host in bastion_hosts ~}
    ${host}:
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in bastion_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}
    %{~ for varmapkey, varmapval in bastion_hosts_yaml_maps ~}
    ${varmapkey}:
      ${indent(6, varmapval)}
    %{~ endfor ~}
testharness:
  hosts: 
    %{~ for host in test_harness_hosts ~}
    ${host}:
    %{~ endfor ~}
  vars:
    %{~ for varmapkey, varmapval in test_harness_hosts_var_maps ~}
    ${varmapkey}: '${varmapval}'
    %{~ endfor ~}