apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespaces.yaml
  - image-rewrite-policy.yaml

helmCharts:
  - name: kyverno
    releaseName: kyverno
    version: ${ARGOCD_ENV_kyverno_helm_version}
    repo: https://kyverno.github.io/kyverno/
    valuesFile: kyverno-values.yaml
    namespace: ${ARGOCD_ENV_kyverno_namespace}
