apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: grafana-mimir
    releaseName: central-monitoring
    version: ${ARGOCD_ENV_grafana_mimir_helm_version}
    repo: oci://registry-1.docker.io/bitnamicharts
    valuesFile: values-mimir.yaml
    namespace: ${ARGOCD_ENV_monitoring_namespace}
  - name: kube-prometheus
    releaseName: prom
    version: ${ARGOCD_ENV_kube_prometheus_helm_version}
    repo: oci://registry-1.docker.io/bitnamicharts
    valuesFile: values-kube-prometheus.yaml
    namespace: ${ARGOCD_ENV_monitoring_namespace}
  - name: grafana-loki
    releaseName: control-center-loki
    # version: ${ARGOCD_ENV_ctrl_cntr_loki_helm_version}
    version: '2.13.0'
    repo: oci://registry-1.docker.io/bitnamicharts
    valuesFile: values-loki.yaml
    namespace: ${ARGOCD_ENV_monitoring_namespace}
  # - name: grafana-loki
  #   releaseName: control-center-loki2
  #   version: ${ARGOCD_ENV_ctrl_cntr_loki_helm_version}
  #   repo: oci://registry-1.docker.io/bitnamicharts
  #   valuesFile: values-loki.yaml
  #   namespace: ${ARGOCD_ENV_monitoring_namespace}    