apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - rook-ceph-namespace.yaml
  - ceph-objectstore-service.yaml
  - ceph-dashboard-loadbalancer.yaml
  - rbac.yaml
  - rgw-endpoint-job.yaml

helmCharts:
  - name: rook-ceph
    releaseName: rook-ceph
    version: ${ARGOCD_ENV_rook_ceph_version}
    repo: https://charts.rook.io/release
    valuesFile: rook-ceph-values.yaml
    namespace: ${ARGOCD_ENV_rook_ceph_namespace}
    includeCRDs: true

  - name: rook-ceph-cluster
    releaseName: rook-ceph-cluster
    version: ${ARGOCD_ENV_rook_ceph_version}
    repo: https://charts.rook.io/release
    valuesFile: rook-ceph-cluster-values.yaml
    namespace: ${ARGOCD_ENV_rook_ceph_namespace}
    includeCRDs: true
