---
apiVersion: tf.upbound.io/v1beta1
kind: Workspace
metadata:
  name: envs-config
  namespace: ${ARGOCD_ENV_gitlab_namespace}
spec:
  forProvider:
    # Use any module source supported by terraform init -from-module.
    source: Remote
    module: git::https://github.com/mojaloop/iac-modules.git//terraform/config-params/ccnew-config/deploy-env-config?ref=${ARGOCD_ENV_terraform_modules_tag}
    vars:
      - key: kv_path
        value: ${ARGOCD_ENV_vault_kv_secret}
      - key: zitadel_fqdn
        value: https://zitadel.${ARGOCD_ENV_zitadel_dns_subdomain}
      - key: nexus_fqdn
        value: nexusproxy.${ARGOCD_ENV_nexus_dns_subdomain}
      - key: ceph_obj_store_gw_fqdn
        value: rook-ceph-s3.${ARGOCD_ENV_ceph_dns_subdomain}
      - key: environment_list
        value: ${ARGOCD_ENV_environment_list}
      - key: storage_class
        value: "ceph-bucket"
      - key: max_objects
        value: "${ARGOCD_ENV_ceph_max_objects}"
      - key: max_size
        value: ${ARGOCD_ENV_ceph_max_size}
      - key: netbird_version
        value: "${ARGOCD_ENV_netbird_version}"
      - key: netbird_api_host
        value: "netbird.${ARGOCD_ENV_netbird_dns_subdomain}"
      - key: argocd_namespace
        value: ${ARGOCD_ENV_argocd_namespace}
  # All Terraform outputs are written to the connection secret.
  providerConfigRef:
    name: env-config
  writeConnectionSecretToRef:
    namespace: ${ARGOCD_ENV_gitlab_namespace}
    name: ${ARGOCD_ENV_deploy_env_config_output_secret}
---
apiVersion: tf.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: env-config
  namespace: ${ARGOCD_ENV_gitlab_namespace}
spec:
  # Note that unlike most provider configs this one supports an array of
  # credentials. This is because each Terraform workspace uses a single
  # Crossplane provider config, but could use multiple Terraform providers each
  # with their own credentials.
  credentials:
    - filename: terraform.tfvars.json
      source: Secret
      secretRef:
        namespace: ${ARGOCD_ENV_gitlab_namespace}
        name: root-token-secret
        key: token.json

    - filename: vault-keys.json
      source: Secret
      secretRef:
        namespace: ${ARGOCD_ENV_vault_namespace}
        name: ${ARGOCD_ENV_vault_keys_secret}
        key: vault-keys.json

  # This optional configuration block can be used to inject HCL into any
  # workspace that uses this provider config, for example to setup Terraform
  # providers.
  configuration: |
    terraform { 
        backend "kubernetes" {
          secret_suffix     = "providerconfig-gitlab-post-config"
          namespace         = "${ARGOCD_ENV_gitlab_namespace}"
          in_cluster_config = true
        }
        required_providers {
          gitlab = {
            source = "gitlabhq/gitlab"
            version = "~> 16.0"
          }
          vault = "${ARGOCD_ENV_vault_tf_provider_version}"
          
          kubernetes = {
            source = "hashicorp/kubernetes"
            version = "2.31.0"
          }
        }
     }

      variable "token" {
        type = string
      }    
      
      provider "vault" {
        address = "http://vault-active.${ARGOCD_ENV_vault_namespace}.svc.cluster.local:8200"
        token   = jsondecode(file("$${path.module}/vault-keys.json")).root_token 
      }

      provider "gitlab" {
        token = var.token
        base_url = "https://gitlab.${ARGOCD_ENV_gitlab_dns_subdomain}"
      }

      provider "kubernetes" {}
